.Cube-Container {
  background: white;
  display: flex;
  flex-direction: column;
  positions: relative;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  cursor: pointer;
}

.Cube-Container:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
